<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<p><a href="{{ url_for('home') }}">Back to Home</a></p>
<h1>Customer Management</h1>


<table id="outputTable">
    <thead>
    <tr>
        <!-- <th>Customer ID</th> -->
        <th>First Name</th>
        <th>Last Name</th>
        <th>date of Birth</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in data %}
    <tr data-customer-id="{{ customer[0] }}">
        <!-- <td>{{ customer[0] }}</td> -->
        <td contenteditable="true">{{ customer[1] }}</td>
        <td contenteditable="true">{{ customer[2] }}</td>
        <td contenteditable="true">{{ customer[3] }}</td>
        <td contenteditable="true">{{ customer[4] }}</td>
        <td>
            <a href="{{url_for('ticket', customer_id=customer[0])}}">
                <button>Ticket Action</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<footer>
    <p>&copy; 2025 Bus Ticket Booking System</p>
</footer>
</body>

</html>