<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Bus Ticket Booking System</h1>
    </header>
    <main>
        <section>
            <h2>Feature list</h2>
            <a href="{{ url_for('customer') }}">Manage customers</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Bus Ticket Booking System</p>
    </footer>
</body>
</html>