<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Bus Ticket Booking System</h1>
    </header>
    <main>
        <h2>List of features</h2>
        <section>
            <a href="{{ url_for('customers') }}">Manage customers</a>
        </section>
        <section>
            <a href="{{ url_for('trips') }}">Manage trips</a>
        </section>
        <section>
            <a href="/ticket/1">Manage ticket</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Bus Ticket Booking System</p>
    </footer>
</body>
</html>