<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trip Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <a href="{{ url_for('home') }}">Back to Home</a>
    <h1>Trip Management</h1>

    <button type="button" onclick="toggleTripForm()">Create a trip</button>

    <form id="trips-form" method="POST" style="display: none;" onsubmit="submitTripForm(event)">
        <fieldset>
            <legend>Trip Information</legend>
            <label for="origin">Enter origin:</label>
            <input type="text" id="origin" name="origin" required />
            <label for="destination">Enter destination:</label>
            <input type="text" id="destination" name="destination" required />
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
    <table id="outputTable">
        <thead>
            <tr>
                <th>Trip Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Schedule Actions</th>
                <th>Trip Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in data %}
            <tr data-trip-id="{{ trip[0] }}">
                <!-- <td>{{ trip[0] }}</td> -->
                <td contenteditable="true">{{ trip[0] }}</td>
                <td contenteditable="true">{{ trip[1] }}</td>
                <td contenteditable="true">{{ trip[2] }}</td>
                <td contenteditable="false"><button onclick="showSchedule({{ trip[0] }})">Show</button></td>
                <td>
                    <button onclick="deletetrip({{ trip[0] }})">Delete</button>
                    <button onclick="updatetrip({{ trip[0] }})">Update</button>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 id="schedules-h2"></h2>
    <div id="trip_id_div" style="display: none;"></div>
    <button id="schedules-create-button" type="button" style="display: none;" onclick="toggleScheduleForm()">Create a schedule</button>
    <form id="schedules-form" method="POST" style="display: none;" onsubmit="submitScheduleForm(event)">
        <fieldset>
            <legend>Schedule Information</legend>
            <label for="seat-quantity">Enter seat quantity:</label>
            <input type="text" id="seat-quantity" name="seat-quantity" required />
            <label for="departure-time">Enter departure time:</label>
            <input type="text" id="departure-time" name="departure-time" required />
            <label for="arrival-time">Enter departure time:</label>
            <input type="text" id="arrival-time" name="arrival-time" required />
            <input type="submit" value="Submit" />
            <input type="hidden" id="trip_id_input" name="trip_id_input" />
        </fieldset>
    </form>
    <table id="schedules-table" style="width: 60%;">
    </table>

    
    <footer>
        <p>&copy; 2025 Bus Ticket Booking System</p>
    </footer>

    <script>
        function showSchedule(trip_id) {
            var description = document.getElementById("schedules-h2")
            description.innerHTML = `Schedules of Trip number: ${trip_id}`

            var create_schedule_button = document.getElementById("schedules-create-button")
            create_schedule_button.style.display = "block";

            var trip_id_div = document.getElementById("trip_id_div")
            trip_id_div.innerHTML = trip_id;

            var table = document.getElementById("schedules-table");
            fetch(`/trips/${trip_id}/schedules`, {
                method: "GET"
            }).then(response => response.json())
                .then(data => {
                    // Clear existing table rows
                    table.innerHTML = `
                        <thead>
                            <tr>
                                <th>Seat Quantity</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    `;
                    var tbody = table.querySelector('tbody');
                    data.forEach(schedule => {
                        var row = tbody.insertRow();
                        var hiddel_trip_id_cell = row.insertCell(0);
                        var cell1 = row.insertCell(1);
                        var cell2 = row.insertCell(2);
                        var cell3 = row.insertCell(3);
                        is_editable_schedule(schedule[0]).then(isEditable => {
                            cell1.contentEditable = isEditable ? "true" : "false";
                            cell2.contentEditable = isEditable ? "true" : "false";
                            cell3.contentEditable = isEditable ? "true" : "false";
                        });
                        hiddel_trip_id_cell.style.display = "none";
                        hiddel_trip_id_cell.innerHTML = schedule[1];
                        cell1.innerHTML = schedule[2];
                        cell2.innerHTML = schedule[3];
                        cell3.innerHTML = schedule[4];
                    });
                })
                .catch(error => console.error('Error fetching schedules:', error));
        }


        function is_editable_schedule(schedule_id) {
            return fetch(`/schedules/${schedule_id}`, {
            method: "GET"
            }).then(response => response.json())
            .then(data => {
                const availableSeats = parseInt(data, 10);
                return availableSeats > 0;
            })
            .catch(error => {
                console.error('Error fetching schedule:', error);
                return false;
            });
        }

        function deletetrip(tripId) {
            // fetch(`/trips/${tripId}`, {
            //     method: 'DELETE'
            // }).then(response => {
            //     if (response.ok) {
            //         alert('trip deleted successfully');
            //         location.reload();
            //     } else {
            //         alert('Failed to delete trip');
            //     }
            // });
        }

        function updatetrip(tripId) {
            // // Get the row containing the trip data
            // const row = document.querySelector(`tr[data-trip-id="${tripId}"]`);

            // // Get all the td elements in the row
            // const tds = row.querySelectorAll('td[contenteditable="true"]');

            // // Create a JSON object with the trip data
            // const tripData = {
            //     firstName: tds[0].innerText,
            //     lastName: tds[1].innerText,
            //     dateOfBirth: tds[2].innerText,
            //     phoneNumber: tds[3].innerText
            // };

            // // Send the PUT request with the trip data
            // fetch(`/trips/${tripId}`, {
            //     method: 'PUT',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify(tripData)
            // }).then(response => {
            //     if (response.ok) {
            //         alert('trip updated successfully');
            //         location.reload();
            //     } else {
            //         alert('Failed to update trip');
            //     }
            // });
        }

        function submitTripForm(event) {
            event.preventDefault();

            const form = event.target;
            const formData = {
                origin: form.origin.value,
                destination: form.destination.value
            };

            fetch('/trips', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            }).then(response => {
                if (response.ok) {
                    alert('trip created successfully');
                    location.reload();
                } else {
                    alert('Failed to create trip');
                }
            });
        }

        function toggleTripForm() {
            var form = document.getElementById('trips-form');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
            return;
        }


        // schedules
        function toggleScheduleForm() {
            var form = document.getElementById('schedules-form');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
            
            return;
        }

        function submitScheduleForm(event) {
            event.preventDefault();
            var trip_id = document.getElementById('trip_id_div');

            const form = event.target;
            const formData = {
            tripId: trip_id.innerHTML,
            seatQuantity: form['seat-quantity'].value,
            departureTime: form['departure-time'].value,
            arrivalTime: form['arrival-time'].value
            };
            console.log(formData);

            fetch('/schedules', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
            }).then(response => {
            if (response.ok) {
                alert('Schedule created successfully');
                location.reload();
            } else {
                alert('Failed to create schedule');
            }
            });
        }

    </script>
</body>

</html>