<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trip Management</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <a href="{{ url_for('home') }}">Back to Home</a>
    <h1>Trip Management</h1>

    <button type="button" onclick="toggleForm()">Create a trip</button>

    <form method="POST" style="display: none" onsubmit="submitForm(event)">
      <fieldset>
        <legend>Trip Information</legend>
        <label for="origin">Enter origin:</label>
        <input type="text" id="origin" name="origin" required />
        <label for="destination">Enter destination:</label>
        <input type="text" id="destination" name="destination" required />
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
    <table id="outputTable">
      <thead>
        <tr>
          <th>Trip Number</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Schedule Actions</th>
          <th>Trip Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for trip in data %}
            <tr data-trip-id="{{ trip[0] }}">
              <td>{{ trip[0] }}</td>
              <!-- <td contenteditable="true">{{ trip[0] }}</td> -->
              <td contenteditable="true">{{ trip[1] }}</td>
              <td contenteditable="true">{{ trip[2] }}</td>
              <td contenteditable="true">
                <button onclick="showSchedule({{ trip[0] }})">Show</button>
              </td>
              <td>
                <button onclick="deletetrip({{ trip[0] }})">Delete</button>
                <button onclick="updatetrip({{ trip[0] }})">Update</button>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 id="schedules-h2"></h2>
    <table id="schedules-table" style="width: 60%"></table>

    <footer>
      <p>&copy; 2025 Bus Ticket Booking System</p>
    </footer>

    <script>
      function showSchedule(schedule_id) {
        var description = document.getElementById("schedules-h2");
        description.innerHTML = `Schedules of Trip number: ${schedule_id}`;
        var table = document.getElementById("schedules-table");
        // var is_editable = is_editable_schedule(schedule_id)
        fetch(`/trips/${schedule_id}/schedules`, {
          method: "GET",
        })
          .then((response) => response.json())
          .then((data) => {
            // Clear existing table rows
            table.innerHTML = `
                        <thead>
                            <tr>
                                <th>Seat Quantity</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                            </tr>
                        </thead>
                    `;
            data.forEach((schedule) => {
              var row = table.insertRow();
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              var cell3 = row.insertCell(2);
              is_editable_schedule(schedule[0]).then((isEditable) => {
                cell1.contentEditable = isEditable ? "true" : "false";
                cell2.contentEditable = isEditable ? "true" : "false";
                cell3.contentEditable = isEditable ? "true" : "false";
              });
              cell2.contentEditable = "true";
              cell3.contentEditable = "true";
              cell1.innerHTML = schedule[2];
              cell2.innerHTML = schedule[3];
              cell3.innerHTML = schedule[4];
            });
          })
          .catch((error) => console.error("Error fetching schedules:", error));
      }

      function is_editable_schedule(schedule_id) {
        return fetch(`/schedules/${schedule_id}`, {
          method: "GET",
        })
          .then((response) => response.json())
          .then((data) => {
            const availableSeats = parseInt(data, 10);
            return availableSeats > 0;
          })
          .catch((error) => {
            console.error("Error fetching schedule:", error);
            return false;
          });
      }

      function deletetrip(tripId) {
        fetch(`/trips/${tripId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((response) => {
          if (response.ok) {
            alert("trip deleted successfully");
            location.reload();
          } else {
            alert("Failed to delete trip");
          }
        });
      }

      function updatetrip(tripId) {
        // Get the row containing the trip data
        const row = document.querySelector(`tr[data-trip-id="${tripId}"]`);

        // Get all the td elements in the row
        const tds = row.querySelectorAll('td[contenteditable="true"]');

        // Create a JSON object with the trip data
        const tripData = {
            "origin": tds[0].innerText,
            "destination": tds[1].innerText,
        };

        // Send the PUT request with the trip data
        fetch(`/trips/${tripId}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(tripData),
        }).then((response) => {
          if (response.ok) {
            alert("trip updated successfully");
            location.reload();
          } else {
            alert("Failed to update trip");
          }
        });
      }

      function submitForm(event) {
        event.preventDefault();

        const form = event.target;
        const formData = {
          origin: form.origin.value,
          destination: form.destination.value,
        };

        fetch("/trips", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        }).then((response) => {
          if (response.ok) {
            alert("trip created successfully");
            location.reload();
          } else {
            alert("Failed to create trip");
          }
        });
      }

      function toggleForm() {
        const form = document.querySelector("form");
        form.style.display = form.style.display === "none" ? "block" : "none";
      }
    </script>
  </body>
</html>
